<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tiger.mapper.DeptMapper">

   <resultMap id="DeptMap" type="cn.tiger.entity.DeptEntity">
       <id column="id" jdbcType="INTEGER" property="id"/>
       <result column="name" jdbcType="VARCHAR" property="name"/>
       <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
       <result column="status" jdbcType="INTEGER" property="status"/>
       <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
       <result column="operator_id" jdbcType="INTEGER" property="operatorId"/>
       <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
   </resultMap>

    <insert id="addDept" parameterType="cn.tiger.entity.DeptEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_dept(name,parent_id,operator_id)
        VALUE (#{name},#{parentId},#{operatorId})
    </insert>

    <delete id="deleteDeptById">
        DELETE FROM t_dept WHERE id = #{id}
    </delete>

    <update id="updateDept">
        UPDATE t_dept
        <set>
            <if test="name !=null and name != '' ">
                name = #{name},
            </if>
            <if test="parentId != null and parentId != '' ">
                parent_id = #{parentId},
            </if>
            <if test="status != null and status != '' ">
                status = #{status},
            </if>
            <if test="operatorId != null and operatorId != '' ">
                operator_id = #{operatorId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="findAll" resultMap="DeptMap">
        SELECT * FROM t_dept
    </select>

    <select id="findDeptById" resultMap="DeptMap">
        SELECT * FROM t_dept WHERE id = #{id}
    </select>

    <select id="findDeptByName" resultMap="DeptMap">
        SELECT * FROM t_dept WHERE name LIKE "%${name}%"
    </select>
</mapper>